services:
  service_a:
    image: ghcr.io/cicd_service_b/service_b:latest
    ports:
      - "8001:8000"
    networks:
      - labnet

service_b:
  image: ghcr.io/cicd_service_a/service_a:latest
  env_file: ./.env
  depends_on:
    - service_a
  ports:
    - "8002:8000"
  networks:
    - labnet

networks:
  labnet: